<!DOCTYPE html>
<html>

<head>
  <title>Resume Generated</title>
  <link rel="stylesheet" type="text/css" href="css/endstyles.css">

</head>

<body>
  <div class="success-message">
    Resume Generated Successfully!

    Check in the output directory!!
  </div>
  <script src="js/endscript.js"></script>
</body>

</html>